* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #fff5f5;
    color: #330100;
    font-family: 'Martel Sans', sans-serif;
}

:root{
    --mainRed:#FF0601;
    --secRed:#CC0300;
    --black:#330100;
    --orange: #FF7901;
}


:is(#local, #contato, #quemsomos){
    height: 100vh;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:visited {
    color: var(--black);
}

h3 {
    text-align: center;
}

/*----------------------LOGO-------------------*/

#logo {
    text-align: center;
    background-color: #f4f4f4;
}

#logo img {
    height: 250px;
}

/*----------------NAVBAR----------------------*/

.nav {
    text-align: center;
    background-color: var(--mainRed);
}

.nav li {
    position: relative;
    display: inline;
    padding: 20px 45px;
    background-color: var(--mainRed);
    top: 21.5px;
}

.nav li a{
    padding: 30px;
    margin: 12px 0px;
    color: #fff;
}

.nav li:hover{
    background-color: var(--secRed);
    transition: 0.5s;
    cursor: pointer;
}

.nav ul {
    list-style: none;
    font-size: 1.2em;
    height: 65px;
}

/*--------------PRODUTOS--------------------------*/

#produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 75px;
    height: 705px;
}

.produto {
    margin-top: 75px;
}

.produto a {
    background-color: var(--mainRed);
    padding: 5px 40px;
    margin: 40px 8px;
    border-radius: 8px;
    color: #fff;
}

.produto a:hover {
    background-color: var(--secRed);
    transition: 0.5s;
}

.nome {
    font-size: 1.55em;
    padding: 8px;
    margin: 20px 10px;
    cursor: pointer;
}


/*----------------QUEM SOMOS ---------------------*/

#quemsomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quemsomos span{
    font-weight: bold;
}

#local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#local img{
    width: 60%;
    height: auto;
    margin: 50px;
}


/*---------------------CONTATO---------------------*/

#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contato img {
    width: 100px;
    margin: 22px;
}

#contato div {
    display: flex;
    align-items: center;
    width: 300px;
    cursor: pointer;
}



/*-------------------FOOTER-----------------------*/

footer {
    padding: 25px 45px;
    color: #fff;
    background-color: var(--mainRed);
    height: 300px;
}

.footerUL a{
    font-size: 0.9em;
    color: #fff;
}

footer ul {
    list-style: none;
    float: left;
}

footer li {
    position: relative;
    padding: 16px;
    background-color: var(--mainRed);
    top: 21.5px;
}

footer p {
    margin: 25px 10px;
    text-align: end;
}


/*-------------------media queries---------------------*/

@media (max-width: 1000px){
    .nav li{
        display: block;
    }
    .nav ul{
        height: 240px;
    }
}

@media (max-width: 800px){
    #produtos {
        grid-template-columns: 1fr 1fr;
        height: unset;
    }
}